<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="dash-left">
                        <ul>
                            <li class="active"><a href="dashboard.html">Dashboard</a></li>
                            <li><a href="admin-blog-list.html">Blogs</a></li>
                            <li><a href="#">Categories</a></li>
                            <li><a href="#">Pages</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </div>   
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <div class="dash-header">
                          <div class="dash-title">
                              <h1>Create Blog</h1>
                          </div>
                        </div>
                        <div class="blog-form">
                          <form action="">
                            <div class="form-group form-row">
                                <label class="col-md-3">Title <span class="required">*</span></label>
                                <div class="col-md-9">
                                  <input type="text" class="form-control" placeholder="Title" required>
                                </div>
                            </div>
                            <div class="form-group form-row">
                              <label class="col-md-3">Is Featured</label>
                              <div class="col-md-9">
                                <input type="radio" name="is_featured" value="1" /> Yes
                                <input type="radio" name="is_featured" value="0" checked /> No
                              </div>
                            </div>
                            <div class="form-group form-row">
                              <label class="col-md-3">Is Active</label>
                              <div class="col-md-9">
                                <input type="radio" name="is_active" value="1" checked /> Yes
                                <input type="radio" name="is_active" value="0" /> No
                              </div>
                            </div>
                            <div class="form-group form-row">
                              <label class="col-md-3">Upload Image</label>
                              <div class="col-md-9">
                                <input type="file" id="image" />
                              </div>
                            </div>
                            <div class="form-group form-row">
                                <label class="col-md-3">Description <span class="required">*</span></label>
                                <div class="col-md-9">
                                  <textarea name="description" rows="5" class="form-control" placeholder="Description" required></textarea>
                                </div>
                            </div>
                            <div class="form-group form-row">
                                <label class="col-md-3"></label>
                                <div class="col-md-9">
                                  <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                          </form>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>


<section class="blog-list mtb-40">
    <div class="container">
      <h1>Blogs</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img1.jpg" alt="blog1" />
            <h3>Sample blog post 1</h3>
            <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img2.jpg" alt="blog1" />
            <h3>Sample blog post 2</h3>
            <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img3.jpg" alt="blog1" />
            <h3>Sample blog post 3</h3>
            <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img4.jpg" alt="blog1" />
            <h3>Sample blog post 4</h3>
            <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img5.jpg" alt="blog1" />
            <h3>Sample blog post 5</h3>
            <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="assets/images/img6.jpg" alt="blog1" />
            <h3>Sample blog post 6</h3>
            <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <a href="detail.html" class="btn btn-danger">Read more...</a>
          </div>
        </div>
      </div>
    </div>
  </section>
