<section class="banner">
    <div class="banner-box">
        <div class="intro-text">
            <div class="intro-text-box">
                <h1>Lorem Ipsum is simply dummy text</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            </div>
        </div>
        <img src="assets/images/banner.jpg" alt="banner" />
    </div>
</section>
<section class="featured-blog mtb-40">
    <div class="container">
        <div class="row">
            <div class="col-md-4" *ngfor="let s of data">
                <div class="blog-box">
                    <img src="assets/images/img1.jpg" alt="blog1" />
                    <h3>{{s.title}}</h3>
                    <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
                    <p>{{s.description}} </p>
                    <a [routerLink]="['details/',1]"class="btn btn-danger">Read more..</a>
                </div>
            </div>
           
        </div>
    </div>
</section>